<canvas id="canvas" width="800px" height="600px"></canvas>
<div id="toolbox">
    <div id="curves">
        <div class="name">自由線:</div>
        <div class="color" style="background:#89C3EB"></div>
        <div class="color" style="background:#D9333F"></div>
        <div class="color" style="background:#DCDDDD"></div>
        <div class="color" style="background:#FFDB4F"></div>
        <div class="color" style="background:#9EA1A3"></div>
    </div>
    <div id="lines">
        <div class="name">直線(未):</div>
        <div class="color" style="background:#89C3EB"></div>
        <div class="color" style="background:#89C3EB"></div>
    </div>
</div>
